ANTHROPIC_API_KEY=put your api key here
ANTHROPIC_MODEL_NAME=put a model name here

LLM_DEFAULT_TIMEOUT=60
LLM_READ_TIMEOUT=45
LLM_WRITE_TIMEOUT=10
LLM_CONNECT_TIMEOUT=5
LLM_MAX_TOKENS=1024

APP_LOG_LEVEL=DEBUG
